.lnb-menu-popup {
  position: fixed;
  top: 120px;
  right: 100px;
  z-index: -1;
  display: flex;
  flex-direction: column;
  padding: 8px;
  background: $white;
  border: 1px solid $border;
  border-radius: 6px;
  opacity: 0;
  transform: translateY(-5%);
  box-shadow: $box-shadow;
  transition: transform 0.2s, top 0.2s, opacity 0.2s, z-index 0.2s;

  &.on {
    top: 140px;
    z-index: $lnb-menu-popup-level;
    opacity: 1;
  }

  &__list {
    padding: 20px 22px 0;
  }

  &__item {
    @include text-style(16);
    display: block;
    width: 250px;
    padding-bottom: 20px;
    font-weight: 700;

    &:hover,
    &:active {
      color: $ohou-blue;
    }
  }
}
