$font-size-10: 10px;
$line-hight-10: 12px;
$letter-spacing-10: -0.3px;

$font-size-11: 11px;
$line-hight-11: 14px;
$letter-spacing-11: -0.3px;

$font-size-12: 12px;
$line-hight-12: 16px;
$letter-spacing-12: -0.3px;

$font-size-14: 14px;
$line-hight-14: 18px;
$letter-spacing-14: -0.3px;

$font-size-15: 15px;
$line-hight-15: 22px;
$letter-spacing-15: -0.3px;

$font-size-16: 16px;
$line-hight-16: 20px;
$letter-spacing-16: -0.3px;

$font-size-17: 17px;
$line-hight-17: 23px;
$letter-spacing-17: -0.3px;

$font-size-18: 18px;
$line-hight-18: 18px;
$letter-spacing-18: -0.3px;

$font-size-20: 20px;
$line-hight-20: 28px;
$letter-spacing-20: -0.3px;

$font-size-24: 24px;
$line-hight-24: 32px;
$letter-spacing-24: -0.3px;

$font-size-32: 32px;
$line-hight-32: 42px;
$letter-spacing-32: -0.3px;

@mixin text-style-10() {
  font-size: $font-size-10;
  line-height: $line-hight-10;
  letter-spacing: $letter-spacing-10;
}

@mixin text-style-11() {
  font-size: $font-size-11;
  line-height: $line-hight-11;
  letter-spacing: $letter-spacing-11;
}

@mixin text-style-12() {
  font-size: $font-size-12;
  line-height: $line-hight-12;
  letter-spacing: $letter-spacing-12;
}

@mixin text-style-14() {
  font-size: $font-size-14;
  line-height: $line-hight-14;
  letter-spacing: $letter-spacing-14;
}

@mixin text-style-15() {
  font-size: $font-size-15;
  line-height: $line-hight-15;
  letter-spacing: $letter-spacing-15;
}

@mixin text-style-16() {
  font-size: $font-size-16;
  line-height: $line-hight-16;
  letter-spacing: $letter-spacing-16;
}

@mixin text-style-17() {
  font-size: $font-size-17;
  line-height: $line-hight-17;
  letter-spacing: $letter-spacing-17;
}

@mixin text-style-18() {
  font-size: $font-size-18;
  line-height: $line-hight-18;
  letter-spacing: $letter-spacing-18;
}

@mixin text-style-20() {
  font-size: $font-size-20;
  line-height: $line-hight-20;
  letter-spacing: $letter-spacing-20;
}

@mixin text-style-24() {
  font-size: $font-size-24;
  line-height: $line-hight-24;
  letter-spacing: $letter-spacing-24;
}

@mixin text-style-32() {
  font-size: $font-size-32;
  line-height: $line-hight-32;
  letter-spacing: $letter-spacing-32;
}

@mixin text-style($font-size, $color: false) {
  @if $font-size == 10 {
    @include text-style-10;
  }
  @if $font-size == 11 {
    @include text-style-11;
  }
  @if $font-size == 12 {
    @include text-style-12;
  }
  @if $font-size == 14 {
    @include text-style-14;
  }
  @if $font-size == 15 {
    @include text-style-15;
  }
  @if $font-size == 16 {
    @include text-style-16;
  }
  @if $font-size == 17 {
    @include text-style-17;
  }
  @if $font-size == 18 {
    @include text-style-18;
  }
  @if $font-size == 20 {
    @include text-style-20;
  }
  @if $font-size == 24 {
    @include text-style-24;
  }
  @if $font-size == 32 {
    @include text-style-32;
  }

  @if (type-of($color) == color) {
    color: $color;
  }
}
