.banner-slide {
  &__list {
    display: flex;
    overflow: hidden;
    border-radius: 8px;
  }

  &__item {
    flex-shrink: 0;
    width: 100%;

    &:hover {
      img {
        transform: scale(1.05);
      }
    }

    a {
      display: block;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      transition: transform 0.2s;
    }
  }

  @include responsive(M) {
    &__list {
      border-radius: 4px;
    }
  }
}
