.content-view-more {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  cursor: pointer;
  gap: 4px;

  &:hover {
    .content-view-more__arrow-icon {
      background: $background-3;
    }
  }

  &__arrow-icon {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    background: $background-2;
    border-radius: 50%;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 40%;
      height: 40%;
      transform: translate(-50%, -50%);
    }
  }
}
