.photo-card {
  position: relative;
  overflow: hidden;
  border-radius: 4px;

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    transition: transform 0.2s;
  }

  .scrap-button {
    z-index: $scrap-button-level;
    cursor: pointer;
  }
}
