.popular-search-terms__list {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .popular-search-terms__item {
    &:hover,
    :active {
      background: $background-1;
    }
  }

  .popular-search-terms__item-wrap {
    display: flex;
    padding: 2px 0;
    margin: 8px 12px;
    white-space: nowrap;
  }
}

.popular-search-terms__list--modal {
  grid-template-columns: 1fr;

  .popular-search-terms__item {
    width: 268px;
  }
}

.rank {
  @include text-style(16);
  flex-basis: 20px;
  flex-shrink: 0;
  font-weight: 700;
}

.search-keyword {
  @include text-style(16);
}

.up,
.new {
  flex-basis: 24px;
  flex-shrink: 0;
  margin-right: 8px;

  &::after {
    display: block;
  }
}

.up::after {
  width: 0;
  height: 0;
  border: 5px solid $red;
  border-top: 5px solid transparent;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: '';
  transform: translateX(50%);
}

.new::after {
  @include text-style(10, $red);
  font-weight: 500;
  text-align: center;
  content: 'new';
}
