a,
button {
  &:focus-visible {
    outline: 0;
    // outline-offset: -1px;
    // outline-color: $ohou-blue;
    box-shadow: 0 0 0 3px $ohou-blue inset;
    border-radius: 3px;
  }
}

.section-hr {
  width: 100%;
  height: 10px;
  margin: 0;
  background-color: $background-1;
  border: 0;
}

.highlight {
  font: inherit;
  color: $ohou-blue;
}

.bold {
  font-weight: 700;
}

.none {
  display: none;
}
