.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
}

.sm-only {
  @media screen and (min-width: $md-breakpoint) {
    display: none !important;
  }
}

.md-only {
  @media screen and (max-width: ( $md-breakpoint - 1)) {
    display: none !important;
  }

  @media screen and (min-width: $lg-breakpoint) {
    display: none !important;
  }
}

.lg-only {
  @media screen and (max-width: ( $lg-breakpoint - 1)) {
    display: none !important;
  }

  @media screen and (min-width: $xl-breakpoint) {
    display: none !important;
  }
}

.xl-only {
  @media screen and (max-width: ( $xl-breakpoint - 1)) {
    display: none !important;
  }
}

.sm-hidden {
  @media screen and (max-width: ( $md-breakpoint - 1)) {
    display: none !important;
  }
}

.md-hidden {
  @media screen and (min-width: ( $md-breakpoint )) and (max-width: ( $lg-breakpoint - 1)) {
    display: none !important;
  }
}

.lg-hidden {
  @media screen and (min-width: ( $lg-breakpoint )) and (max-width: ( $xl-breakpoint - 1)) {
    display: none !important;
  }
}

.xl-hidden {
  @media screen and (min-width: ( $xl-breakpoint )) {
    display: none !important;
  }
}

.lg-plus-hidden {
  @media screen and (min-width: $lg-breakpoint) {
    display: none !important;
  }
}

.lg-plus-only {
  @media screen and (max-width: ($lg-breakpoint - 1)) {
    display: none !important;
  }
}

.direct-link {
  position: relative;

  a {
    position: absolute;
    top: -999px;
    padding: 4px 10px;
    font-weight: 700;
    color: $white;
    background: $ohou-blue;
    border-radius: 4px;

    &:focus {
      top: 0;
      z-index: $direct-link-level;
    }
  }
}
