%badge {
  @include text-style(11);
  display: inline-block;
  padding: 0 4px;
  font-weight: 700;
  line-height: 20px;
  border-radius: 4px;
}

.badge__free-shipping {
  @extend %badge;
  color: $font-gray-3;
  background: $background-4;
}

.badge__special-deal,
.badge__time {
  @extend %badge;
  color: $white;
  background: $ohou-red;
}

.badge__payment-discount {
  @extend %badge;
  margin-top: 6px;
  border: 1px solid $border;

  img {
    width: 10px;
    height: 10px;
  }
}

.rank-tag {
  position: absolute;
  width: 26px;
  height: 30px;
  top: 0;
  left: 12px;

  &__icon {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
  }

  &__rank {
    @include text-style(12, $white);
    position: absolute;
    font-weight: 700;
    text-align: center;
    width: 100%;
    top: 15%;
  }
}

.only-tag {
  position: absolute;
  top: 0%;
  left: 71%;
  width: 29%;
  height: 29%;

  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}
