.banner-slide {
  position: relative;

  &:hover,
  &:focus-within {
    .slide-next,
    .slide-prev {
      z-index: $slide-arrow-button-level;
      opacity: 1;
    }
  }

  &__slide-number-group {
    @include text-style(12);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    padding: 2px 10px;
    font-weight: 700;
    color: $white;
    background: $background-5;
    border-top-left-radius: 8px;

    span {
      color: inherit;
    }
  }

  .slide-next,
  .slide-prev {
    z-index: -1;
    opacity: 0;
    transition: opacity 0.2s, z-index 0.2s;
  }

  &__wrapper {
    width: 100%;
    height: 100%;
    border-radius: 4px;
  }

  &__list {
    width: 100%;
  }

  &__item {
    position: relative;
    width: 100%;

    &:hover {
      img {
        transform: scale(1.05);
      }
    }

    a {
      display: block;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      transition: transform 0.2s;
    }
  }

  @include responsive(M) {
    &__list {
      border-radius: 4px;
    }

    &__slide-number-group {
      @include text-style(14);
      right: 12px;
      bottom: 12px;
      padding: 4px 10px 4px 12px;
      letter-spacing: -1px;
      border-radius: 20px;

      &::after {
        font-size: 20px;
        line-height: 16px;
        content: '+';
      }
    }
  }
}
