.header__search-group {
  position: relative;
  margin-right: 20px;

  &::after {
    position: absolute;
    top: 6px;
    left: 7px;
    display: block;
    width: 28px;
    height: 28px;
    background: url('assets/ico_search_gray.svg') no-repeat;
    background-size: contain;
    content: '';
  }

  &__input {
    width: 196px;
    height: 40px;
    padding: 0 14px 0 40px;
    border: 1px solid $border;
    border-radius: 4px;

    &::placeholder {
      color: #bdbdbd;
    }

    &:hover {
      background: $background-1;
    }

    &:focus {
      outline: 1px solid $ohou-blue;
    }
  }

  .header__search-history-group {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    display: none;
    width: 100%;
    padding: 10px 0;
    background: $white;
    border: 1px solid $border;
    border-radius: 4px;
    box-shadow: $box-shadow;
    z-index: 10;

    &.on {
      z-index: $search-history-group-level;
      display: block;
    }
  }

  .header__search-history-group__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 8px 10px;
  }

  .header__search-history-group__title,
  .header__search-history-group__all-delete-button {
    @include text-style(13, $font-gray-2);
  }

  .header__search-history-group__all-delete-button {
    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }
  }

  .header__search-history-group__search-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    padding: 8px;

    &:hover,
    &:active {
      background: $background-1;
    }
  }

  .header__search-history-group__search-keyword {
    @include text-style(14);

    flex-grow: 1;
  }

  .header__search-history-group__keyword-delete-button {
    width: 24px;
    height: 24px;
    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }
  }

  @include responsive(XL) {
    &__input {
      width: 296px;
    }
  }
}
