.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $header-level;
  width: 100%;

  transform: translateY(0);
  transition: transform 0.1s;

  &.hidden {
    transform: translateY(-100%);
  }

  &__top {
    height: 50px;
    background: $white;
    border-bottom: 1px solid $border;
  }

  &__bottom {
    height: 40px;
    background: $white;
    border-bottom: 1px solid $border;
  }

  &__top-container,
  &__bottom-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0 $sm-margin;
  }

  &__bottom-left {
    width: 100%;
  }

  &__menu-button {
    width: 36px;
    height: 36px;
    cursor: pointer;
    background: url('assets/ico_menu.svg') no-repeat;
    background-size: contain;
  }

  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 71px;
    height: 28px;
    transform: translate(-50%, -50%);

    a {
      display: block;
      width: 100%;
      height: 100%;
      background: url('assets/logo.svg') no-repeat;
      background-size: contain;
    }
  }

  &__button-group {
    display: flex;
    align-items: center;
    gap: 10px;

    .header__search-button,
    .header__cart-button {
      width: 30px;
      height: 30px;
      cursor: pointer;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .header__search-button {
      width: 28px;
      height: 28px;
      background-image: url('assets/ico_search.svg');

      &:hover,
      &:active {
        background-image: url('assets/ico_search_blue.svg');
      }
    }

    .header__cart-button {
      display: block;
      background-image: url('assets/ico_cart.svg');

      &:hover,
      &:active {
        background-image: url('assets/ico_cart_blue.svg');
      }
    }
  }

  @include responsive(M) {
    transform: translateY(0);

    &__top {
      position: relative;
      z-index: $header-top-level;
      height: 80px;
    }

    &__bottom {
      position: fixed;
      top: 80px;
      width: 100%;
      height: 50px;
      transition: transform 0.2s;

      &.hidden {
        transform: translateY(-50px);
      }
    }

    &__top-container,
    &__bottom-container {
      padding: 0 $md-margin;
      background: $white;
    }

    &__top-left,
    &__top-right {
      display: flex;
      align-items: center;
    }

    &__bottom-left {
      flex: 1 1 50%;
      width: 50%;
    }

    &__bottom-right {
      flex: 0 0 192px;
    }

    .logo {
      position: static;
      margin-right: 20px;
      transform: translate(0);
    }

    &__gnb-list {
      display: flex;
    }

    &__gnb-item {
      a {
        @include text-style(18);
        padding: 20px 5px;
        margin: 0 10px;
        font-weight: 700;
      }

      &.on,
      &:hover {
        color: $ohou-blue;
      }
    }

    &__button-group {
      gap: 8px;
    }

    &__auth-group {
      margin-left: 12px;

      a {
        @include text-style(14);

        position: relative;
        padding: 10px;

        &:not(:first-child)::before {
          position: absolute;
          top: 50%;
          left: 0;
          display: block;
          width: 1px;
          height: 20px;
          color: $font-gray-4;
          background: $border;
          content: '';
          transform: translateY(-50%);
        }
      }
    }

    .header__write-button {
      margin-left: 10px;
      color: $white;
      cursor: pointer;
      background: $ohou-blue;

      &:hover {
        background: $ohou-blue-active;
      }
    }
  }

  @include responsive(L) {
    &__top-container,
    &__bottom-container {
      padding: 0 $lg-margin;
    }

    .header__write-button {
      position: relative;
      padding-right: 40px;

      &::after {
        position: absolute;
        top: 11px;
        right: 18px;
        display: block;
        width: 9px;
        height: 9px;
        border-right: 2px solid $white;
        border-bottom: 2px solid $white;
        content: '';
        transform: rotate(45deg);
      }
    }
  }

  @include responsive(XL) {
    &__top-container,
    &__bottom-container {
      max-width: $xl-max-width;
      margin: 0 auto;
    }
  }
}
