.housewarming {
  &__post-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }

  &__post-item {
    min-width: 0;

    &:hover {
      .photo-card__image {
        transform: scale(1.05);
      }
    }
  }

  &__post-item-wrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__post-title {
    @include line-clamp(2);
    @include text-style(16);
    word-break: keep-all;

    .highlight {
      font-weight: 700;
    }
  }

  .scrap-button {
    right: 10px;
    bottom: 10px;
  }

  @include responsive(M) {
    &__post-list {
      grid-template-columns: repeat(4, 1fr);
      gap: 16px;
    }
  }
}
