.section--interior-pic {
  overflow: hidden;

  .interior-pic-slide {
    position: relative;
  }

  .interior-pic-slide__wrapper {
    padding-left: 16px;
    margin: 0 (-$sm-margin);
  }

  .interior-pic-slide__list {
    scroll-snap-type: x mandatory;
  }

  .interior-pic-slide__item {
    position: relative;

    &:hover {
      .photo-card__image {
        transform: scale(1.05);
      }
    }
  }

  .interior-pic-slide__author-group {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 8px;
  }

  .interior-pic-slide__avatar {
    width: 24px;
    height: 24px;
    margin-right: 4px;
  }

  .interior-pic-slide__author {
    @include text-style(12, $white);
    font-weight: 700;
  }

  .scrap-button {
    right: 8px;
    bottom: 8px;
  }

  @include responsive(M) {
    .interior-pic-slide__wrapper {
      padding-left: 0;
      margin: 0;
    }
  }
}
