.section__container {
  padding: 0 $sm-margin;
  padding-bottom: 20px;

  @include responsive(M) {
    padding: 0 $md-margin;
    margin-bottom: 40px;
  }

  @include responsive(L) {
    padding: 0 $lg-margin;
  }

  @include responsive(XL) {
    max-width: $xl-max-width;
    padding: 0 $xl-margin;
    margin: 0 auto 40px;
  }
}

.main {
  position: relative;
  z-index: 0;
  padding-top: 20px;
  margin-top: 80px;
  background: $white;

  @include responsive(M) {
    padding-top: 30px;
    margin-top: 130px;
  }
}
