.section-01 {
  &__container {
    padding: 20px $sm-margin;
  }

  &__wrap-top {
    margin-bottom: 16px;
  }

  @include responsive(M) {
    &__container {
      padding: 30px $md-margin 40px;
    }

    &__wrap-top {
      display: flex;
      margin-bottom: 30px;
      gap: 16px;
    }

    &__wrap-left {
      flex: 1 1 calc(75%);
    }

    &__wrap-right {
      flex: 1 1 calc(25%);
    }
  }

  @include responsive(L) {
    &__container {
      padding: 30px $lg-margin 40px;
    }

    &__wrap-top {
      gap: 20px;
    }
  }

  @include responsive(L) {
    &__container {
      margin: 0 auto;
      max-width: $xl-max-width;
      border: 0;
    }
  }
}
