$font-black: #2f3438;
$font-gray-1: #424242;
$font-gray-2: #828c94;
$font-gray-3: #757575;
$font-gray-4: #9e9e9e;
$font-gray-5: #bdbdbd;

$ohou-blue: #35c5f0;
$ohou-blue-active: #009fce;
$ohou-red: #f77;

$border: #eaedef;
$overlay: rgba(33, 38, 41, 0.5);
$white-hover: rgb(247, 249, 250);
$icon-gray: rgb(130, 140, 148);
$icon-gray-hover: rgb(101, 110, 117);

$background-1: #f7f9fa;
$background-2: #eaedef;
$background-3: rgb(218, 221, 224);
$background-4: #00000015;
$background-5: rgba(33, 38, 41, 0.5);

$white: #fff;
$red: rgb(255, 0, 0);
$blue: rgb(99, 145, 230);

$box-shadow: rgba(63, 71, 77, 0.2) 0 4px 10px 0;
