$header-level: 3000;
$header-top-level: 100;
$search-history-group-level: 10;
$pc-top-banner-level: 4000;

$direct-link-level: 5000;

$link-overlay-level: 1;
$scrap-button-level: 10;
$author-group-level: 10;
$slide-arrow-button-level: 10;
$section--more-link-level: 10;

$overlay-level: 5000;
$mobile-tab-menu-level: 6000;
$menu-drawer-level: 6000;
$search-drawer-level: 6000;

$lnb-menu-popup-level: 10;
$popular-search-terms-popup: 4000;
$write-list-popup-level: 4000;
